body {
  background-color: tomato;
}

.App {
  text-align: center;
  background-color: tomato;
  font-family: 'Raleway';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  height: 50px;
  padding: 20px;
  color: white;
  font-size: 25px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.login-button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.logout-button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 40px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
